<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjisan.enterprise.mapper.EnterpriseMapper">

    <resultMap id="BaseResultMap" type="com.qianjisan.enterprise.entity.Enterprise">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="description" property="description" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_phone" property="contactPhone" />
        <result column="contact_email" property="contactEmail" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="size" property="size" />
        <result column="industry" property="industry" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by_code" property="createByCode" />
        <result column="create_by_name" property="createByName" />
        <result column="update_by_code" property="updateByCode" />
        <result column="update_by_name" property="updateByName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name, short_name, description, contact_person, contact_phone, contact_email, address, status, size, industry, create_time, update_time, is_deleted, create_by_code, create_by_name, update_by_code, update_by_name
    </sql>

</mapper>
